<!DOCTYPE html>
<html lang="en">

<center>
   <a href="https://imgbb.com/"><img src="https://i.ibb.co/L9VFyjn/srm.png" alt="srm" border="0"></a>
</center>
<br>

<head>
    <meta charset="UTF-8">
    <title>Ambulance tracking</title>
   </head>
<body>

<center><img src="{{cor}}" width="500" height="400" ></center>
<form id="contact" action="http://192.168.43.137:5000/startj" method="post">
<br>
    <center>Click below to confirm location</center>
    <br>
      <center><button name="submit" type="submit" id="contact-submit" >Submit</button></center>


  </form>
</body>
</html>